# CRLF line endings cause problems in Docker, so we force git
# to check in and out using only LF line endings.

*.cfg					text eol=lf
*.ini					text eol=lf
*.json					text eol=lf
*.md					text eol=lf
*.py					text eol=lf
*.txt					text eol=lf
*.yaml					text eol=lf
*.yml					text eol=lf

.editorconfig			text eol=lf
.flake8					text eol=lf
.pylintrc				text eol=lf

.git*					text eol=lf
*_files					text eol=lf
*_files_ignore			text eol=lf

**/dev_*				text eol=lf
**/Dockerfile			text eol=lf
