# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_language_version:
  python: python3.9

minimum_pre_commit_version: 3.0.0

repos:
  - repo: local
    hooks:
      - id: update-hook-revs
        name: "ensure hooks are up to date"
        language: python
        additional_dependencies:
          - "packaging"
          - "typer"
        fail_fast: true
        always_run: true
        entry: ./scripts/update_hook_revs.py
        files: '\.pre-commit-config.yaml'
        args: [--check]
        pass_filenames: false
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '.*\.json|example_config.yaml'
      - id: check-yaml
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
        exclude: devcontainer.json
      - id: pretty-format-json
        args: [--autofix]
        exclude: devcontainer.json|config_schema.json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-docstring-first
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: no-commit-to-branch
        args: [--branch, dev, --branch, int, --branch, main]
      - id: debug-statements
      - id: debug-statements
      - id: debug-statements
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.11
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        args: [--no-warn-unused-ignores]
