# requirements for development and testing this service

# common requirements for development and testing
-r requirements-dev-common.in

# additional requirements can be listed her
cryptography >= 41
func-timeout >= 4.3.5
pytest-asyncio >= 0.23.0
