# requirements for development and testing this service

# common requirements for development and testing
-r requirements-dev-common.in

# additional requirements for testing hexkit providers

pip-tools>=7.3.0 # once added to the
