# requirements for development and testing this service

# common requirements for development and testing
-r requirements-dev-common.in

# additional requirements for testing hexkit providers

# should be added upstream to the template common deps:
pip-tools>=7.3.0
tomli==2.0.1
tomli_w==1.0.0
