[project]
name = "hexkit"
version = "7.3.0"
description = "A Toolkit for Building Microservices using the Hexagonal Architecture"
requires-python = ">=3.10"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "License :: OSI Approved :: Apache Software License",
    "Topic :: Internet :: WWW/HTTP :: HTTP Servers",
    "Topic :: Software Development :: Libraries",
    "Intended Audience :: Developers",
]
dependencies = [
    "opentelemetry-api >=1.39, <2",
    "pydantic >=2.12, <3",
    "pydantic_settings >=2.12, <3",
    "PyYAML >=6, <7",
]

[project.optional-dependencies]
akafka = ["aiokafka[zstd,lz4,snappy]~=0.13.0", "jsonschema >=4.25, <5"]
s3 = ["boto3 >=1.42, <2", "botocore >=1.42, <2"]
mongodb = ["pymongo >=4.15, <5"]
opentelemetry-base = [
    "opentelemetry-sdk >=1.39.1, <2",
    "opentelemetry-exporter-otlp >=1.39.1, <2",
    "opentelemetry-instrumentation >=0.60b1",
    "opentelemetry-instrumentation-httpx >=0.60b1",
    "opentelemetry-distro >=0.60b1",
]
opentelemetry-akafka = [
    "hexkit[opentelemetry-base]",
    "hexkit[akafka]",
    "opentelemetry-instrumentation-aiokafka >=0.60b1",
]
opentelemetry-mongodb = [
    "hexkit[opentelemetry-base]",
    "hexkit[mongodb]",
    "opentelemetry-instrumentation-pymongo >=0.60b1",
]
opentelemetry-fastapi = [
    "hexkit[opentelemetry-base]",
    "opentelemetry-instrumentation-fastapi >=0.60b1",
]
opentelemetry-s3 = [
    "hexkit[opentelemetry-base]",
    "hexkit[s3]",
    "opentelemetry-instrumentation-botocore >=0.60b1",
]
opentelemetry = [
    "hexkit[opentelemetry-akafka]",
    "hexkit[opentelemetry-mongodb]",
    "hexkit[opentelemetry-fastapi]",
    "hexkit[opentelemetry-s3]",
]
test-akafka = ["hexkit[akafka]", "testcontainers[kafka] >=4.13, <5"]
test-s3 = ["hexkit[s3]", "testcontainers >=4.13, <5"]
test-mongodb = ["hexkit[mongodb]", "testcontainers[mongo] >=4.13, <5"]
test = ["hexkit[test-akafka,test-s3,test-mongodb]"]

all = ["hexkit[test]", "hexkit[opentelemetry]"]

[project.urls]
Repository = "https://github.com/ghga-de/hexkit"


[tool.ruff]
target-version = "py310"

[tool.tox]
legacy_tox_ini = """
    [tox]
    env_list = py3{10,11,12,13}

    [gh-actions]
    python =
        3.10: py310
        3.11: py311
        3.12: py312
        3.13: py313

    [testenv]
    pass_env =
        TC_HOST
        DOCKER_HOST
    deps =
        --no-deps -r ./lock/requirements-dev.txt
    commands =
        py310: pip install --no-deps \
            backports.asyncio.runner==1.2.0 \
            exceptiongroup==1.3.0 \
            tomli==2.2.1
        pytest {posargs}
"""
