# requirements for development and testing this service

# template requirements for development and testing
-r requirements-dev-template.in

# additional requirements can be listed her
exceptiongroup>=1.2.2 # for Python<3.11
tomli>=2.2.1 # for Python<3.11
cryptography>=44.0.2
pytest-asyncio>=0.26.0
tox>=4.24.2, <4.28.0
