# requirements for development and testing this service

# template requirements for development and testing
-r requirements-dev-template.in

# additional requirements can be listed here
cryptography>=46.0.4
pytest-asyncio>=1.3.0
tox>=4.34
mkdocs>=1.6.1
