# common requirements for development and testing of services

pytest>=8.2
pytest-asyncio>=0.23.7
pytest-cov>=5
snakeviz>=2.2
logot>=1.3

pre-commit>=3.7

mypy>=1.10
mypy-extensions>=1.0

ruff>=0.4

click>=8.1
typer>=0.12

httpx>=0.27
pytest-httpx>=0.30

urllib3>=1.26.18
requests>=2.31

stringcase>=1.2
jsonschema2md>=1.1
setuptools>=69.5

# required since switch to pyproject.toml and pip-tools
tomli_w>=1.0

uv>=0.2.13
