# common requirements for development and testing of services

pytest>=8.4
pytest-asyncio>=1.2.0
pytest-cov>=7
snakeviz>=2.2
logot>=1.5.1

pre-commit>=4.3

mypy>=1.18.2
mypy-extensions>=1.1

ruff>=0.13.1

click>=8.3
typer>=0.19.1

httpx>=0.28.1
pytest-httpx>=0.35

urllib3>=2.5
requests>=2.32.5

casefy>=1.1
jsonschema2md>=1.7
setuptools>=80.9

# required since switch to pyproject.toml and pip-tools
tomli>=2.2.1
tomli_w>=1.2

uv>=0.8.19
