# common requirements for development and testing of services

# special requirements (snakeviz, logot) for debugging and testing
# should be added manually or per service if needed

pytest>=9.1
pytest-asyncio>=1.4
pytest-cov>=7.1

pre-commit>=4.6

mypy>=2.2

ruff>=0.15.21

click>=8.4
typer>=0.26

httpx2>=2.9.1

urllib3>=2.7
requests>=2.34.2

casefy>=1.1
jsonschema2md>=1.7
setuptools>=82

# required since switch to pyproject.toml and pip-tools
tomli_w>=1.2

uv>=0.11.28
