name: Publish docs via GH pages

on:
  push:
    branches: [ main ]
  workflow_dispatch:  # Allow manual triggering

permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment,
# skipping runs queued between the run in-progress and latest queued.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install MkDocs and pdoc
        run: |
          pip install mkdocs pdoc

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Build API reference with pdoc
        run: pdoc hexkit -o docs/api

      - name: Build written docs with MkDocs
        run: mkdocs build

      - name: Move API docs to final location
        run: |
          rm -rf site/api
          mv docs/api site/api

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./site

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
